.header {
	background-color: #064c4f;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	color: white;
	border-radius: 0.8rem;
	width: 100%;
	.right {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		& p {
			@media (max-width: 885px) {
				display: none;
			}
		}

		.round {
			--size: 2rem;
			width: var(--size);
			height: var(--size);
			border: 0;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.2rem;
		}
		.cart-icon {
			background-color: white;
			color: black;
			cursor: pointer;
			position: relative;

			span {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: red;
				width: 10px;
				height: 10px;
				padding: 0.3rem;
				border-radius: 50%;
				position: absolute;
				left: 20px;
				top: 1px;
				bottom: -2px;
				text-align: center;
				font-size: 0.5rem;
				color: white;
			}
		}
		.profile {
			background-color: burlywood;
			@media (max-width: 480px) {
				display: none;
			}
		}
	}
	.left {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		& a {
			text-decoration: none;
			color: white;
			@media (max-width: 480px) {
				display: none;
			}
		}
		& i {
			color: white;
		}
	}
	.input {
		background: white;
		width: 40%;
		border-radius: 0.9rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 0.6rem;
		@media (max-width: 480px) {
			width: 60%;
		}
		input {
			width: 90%;
			padding: 0.5rem 1rem;
			border: 0;
			background: 0;
		}
		:focus {
			outline: none;
		}
		span {
			font-size: 1rem;
			color: black;
		}
	}
}
