.hero {
	background: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.575),
			rgba(0, 0, 0, 0.486)
		),
		url(../imgs/original-88d3b0d145123af185bebfec32b34507__1_-removebg-preview.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 1rem;
	border-radius: 0.8rem;
	min-height: 40vh;
	border-bottom-left-radius: 50% 30px;
	border-bottom-right-radius: 50% 30px;
	padding: 2rem;
	width: 100%;
	.content {
		max-width: 24rem;
		color: white;
		padding: 1rem 0rem;
		.btn {
			background-color: #bbea70;
			font-size: 1.1rem;
			padding: 0.4em 0.6em;
			border: 0;
			margin-top: 1rem;
			border-radius: 0.4rem;
		}
	}
}
