* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f6;
}

main {
  width: 95%;
  max-width: 1200px;
  margin: 1rem auto;
  position: relative;
}

.header {
  background-color: #064c4f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: white;
  border-radius: 0.8rem;
  width: 100%;
}
.header .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 885px) {
  .header .right p {
    display: none;
  }
}
.header .right .round {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.header .right .cart-icon {
  background-color: white;
  color: black;
  cursor: pointer;
  position: relative;
}
.header .right .cart-icon span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 10px;
  height: 10px;
  padding: 0.3rem;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 1px;
  bottom: -2px;
  text-align: center;
  font-size: 0.5rem;
  color: white;
}
.header .right .profile {
  background-color: burlywood;
}
@media (max-width: 480px) {
  .header .right .profile {
    display: none;
  }
}
.header .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.header .left a {
  text-decoration: none;
  color: white;
}
@media (max-width: 480px) {
  .header .left a {
    display: none;
  }
}
.header .left i {
  color: white;
}
.header .input {
  background: white;
  width: 40%;
  border-radius: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.6rem;
}
@media (max-width: 480px) {
  .header .input {
    width: 60%;
  }
}
.header .input input {
  width: 90%;
  padding: 0.5rem 1rem;
  border: 0;
  background: 0;
}
.header .input :focus {
  outline: none;
}
.header .input span {
  font-size: 1rem;
  color: black;
}

.hero {
  background: url(../imgs/original-88d3b0d145123af185bebfec32b34507__1_-removebg-preview.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 1rem;
  border-radius: 0.8rem;
  min-height: 40vh;
  border-bottom-left-radius: 50% 30px;
  border-bottom-right-radius: 50% 30px;
  padding: 2rem;
  width: 100%;
}
.hero .content {
  max-width: 24rem;
  color: white;
  padding: 1rem 0rem;
}
.hero .content .btn {
  background-color: #bbea70;
  font-size: 1.1rem;
  padding: 0.4em 0.6em;
  border: 0;
  margin-top: 1rem;
  border-radius: 0.4rem;
}

.categories {
  width: 100%;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1rem;
}
.categories .add-category-btn {
  background-color: #bbea70;
  font-size: 1.1rem;
  padding: 0.4em 0.6em;
  border: 0;
  margin-top: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.categories .product {
  height: 5rem;
  background-color: white;
  border-radius: 0.8rem;
  padding: 0.5rem;
  position: relative;
}
.categories .product p {
  font-size: 0.8rem;
  font-weight: 400;
}
.categories .product .centerimg {
  position: absolute;
  left: 87px;
  bottom: 0;
}
.categories .seeAll {
  height: 5rem;
  background-color: #bbea70;
  border-radius: 0.8rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.categories .seeAll .icon {
  background-color: white;
  color: black;
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sales {
  padding: 2rem 0;
  margin-bottom: 3rem;
  text-align: center;
}
.sales .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales .text a {
  text-decoration: none;
  color: red;
}
.sales .salespdts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}
.sales .salespdts .pdt {
  height: 14rem;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
}

.featured .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured .text a {
  text-decoration: none;
  color: red;
}
.featured .containers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}
.featured .containers .container {
  height: 15rem;
  background-color: white;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  flex: 1;
}
.featured .containers .container .circle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-items: center;
  left: 20px;
  top: 90px;
  padding: 0.5rem;
}
.featured .containers .container img {
  width: 100%;
  height: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured .containers .container .texts {
  padding: 1rem;
  margin-top: 3rem;
}

.sample-items {
  width: 100%;
  background-color: white;
  padding: 1rem 0;
  margin: 3rem 0;
  border-radius: 20px;
  display: flex;
}
@media (max-width: 780px) {
  .sample-items {
    display: block;
    margin: 0 auto;
  }
}
.sample-items .containerImg {
  background-color: white;
  width: 50%;
  margin-left: 1rem;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 780px) {
  .sample-items .containerImg {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
}
.sample-items .containerImg img {
  margin: auto;
  width: 70%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.sample-items .containerImg .img1 {
  background-color: #f4f6f6;
  margin-bottom: 7px;
}
.sample-items .containerImg .imgcontn {
  display: flex;
  justify-content: space-between;
}
.sample-items .containerImg .imgcontn .sample-item {
  flex-basis: 24%;
  background-color: #f4f6f6;
}
.sample-items .sample-text {
  width: 50%;
  padding: 0 1rem;
  flex: 1;
}
@media (max-width: 780px) {
  .sample-items .sample-text {
    width: 100%;
  }
}
.sample-items .sample-text .top {
  border-bottom: 2px solid rgba(0, 0, 0, 0.13);
  padding-bottom: 1rem;
}
.sample-items .sample-text .top h3 {
  color: red;
  font-weight: 200;
}
.sample-items .sample-text .top p {
  font-weight: 200;
  padding: 0.4rem 0;
}
.sample-items .sample-text .top h2 {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.4rem 0;
}
.sample-items .sample-text .top .star {
  font-size: 0.8rem;
  padding: 0.4rem 0;
}
.sample-items .sample-text .top .star i {
  color: rgb(243, 243, 4);
}
.sample-items .sample-text .top h1 {
  font-size: 2vw;
}
.sample-items .sample-text .middle {
  padding-top: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.13);
}
.sample-items .sample-text .middle .buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5rem;
  padding-bottom: 1rem;
}
.sample-items .sample-text .middle .buttons .btn {
  background-color: #bbea70;
  font-size: 1rem;
  padding: 0.4em 0.4em;
  border: 0;
  margin-top: 1rem;
  border-radius: 0.9rem;
}
.sample-items .sample-text .middle .buttons .cartBtn1 {
  background-color: #f4f6f6;
}
.sample-items .sample-text .middle .preview {
  padding: 0.4rem 0;
  display: flex;
  justify-content: start;
  gap: 3rem;
}
.sample-items .sample-text .middle .preview a {
  color: black;
  font-size: 0.7rem;
}
.sample-items .sample-text .middle .preview a:nth-child(2) {
  font-size: 0.8rem;
}
.sample-items .sample-text .bottom {
  padding-top: 0.8rem;
}

form {
  width: 400px;
  padding: 1.5rem 2rem;
  background-color: rgba(190, 216, 192, 0.733);
  -webkit-backdrop-filter: blur;
          backdrop-filter: blur;
  border-radius: 20px;
  position: absolute;
  left: 150px;
  top: 180px;
  z-index: 2;
  display: none;
}
@media (max-width: 585px) {
  form {
    left: 20px;
    width: 300px;
  }
}
form input {
  width: 90%;
  display: block;
  outline: none;
  border: 0;
  padding: 0.5rem;
  border-radius: 20px;
  font-size: 1.2rem;
}
form .submitInput {
  background-color: #bbea70;
  font-size: 1.1rem;
  padding: 0.4em 0.6em;
  border: 0;
  margin-top: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.visible {
  display: block;
  transform: translateY(25%);
  transition: 0.3s ease-in-out;
}/*# sourceMappingURL=styles.css.map */